.movie-container {
    width: 80%;
    margin: 50px auto;
}
.movie-card {
    max-width: 300px; /* Adjust the width to make the card smaller */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    min-height: 600px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card-img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
}

.movie-card-body {
    padding: 15px;
    text-align: center;
}

.movie-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.movie-card-text {
    font-size: 1rem;
    color: #555;
}
.movie-buttons {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.book-button {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.book-button:hover {
    background-color: #0056b3;
}