h1 {
    text-align: center;
    color: #444;
}

.movie-selection {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.movies {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .movies ul {
    background-color:#CCD5AE;;
    list-style: none;
    padding: 1rem;
  }
  
  .movies li {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }