.confirmation-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.confirmation-container h1 {
    color: #d6d6d6;
}
.confirmation-container p {
    color: #333;
}
.confirmation-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.confirmation-container a:hover {
    background-color: #45a049;
}